/.vscode/
/exps/
/exps2/

*__pycache__

job.sub
*_executable*
*_job*
*nvidia-smi.*

*.npy
*.zip
eval_scripts/

/preprocess/intermediate_output/
/preprocess/data/
/preprocess/sfm_outputs/
/preprocess/sfm_inputs/
viz/
my_mesh

utils/mesh

sfm/viz
raven*
test_open3d.py 

events*

exp_runner_cc.py

/exp_runner_local_.py
/exp_runner_remote_.py
run_preprocess_*.py

data/your_obeject/raw/temp/*
# data/monkey/raw/temp/*
data/monkey/*

test.txt
test.py